<div id="event-index">
  <div class="container-fluid mt-4">
    
    <div class="dropdown mb-4">
      <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= fa_icon "sliders" %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "All", events_path, class: "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <%= link_to "Upcoming", events_path(category: "future"), class: "dropdown-item" %>
        <%= link_to "Past", events_path(category: "past"), class: "dropdown-item" %>
      </div>
      <% if params[:tag] %>
        <h1 class="text-center">Tag: <%= params[:tag].capitalize %></h1>
      <% end %>
    </div>
    
    <div class="row">
      <% @events.each do |event| %>
          <div class="col-md-4 mb-3">
            <div class="card">
              <%= link_to event do %>
              <img class="card-img-top" src="https://via.placeholder.com/460x160?text=Event+Poster+Here" alt="Card image cap">
               <% end %>
              <div class="card-body p-0">
                <div class="d-flex bd-highlight">
                  <div class="mt-4 p-2 w-100 bd-highlight">
                    <h1><%= link_to event.title, event %></h1>
                  </div>
                  <div class="p-2 flex-shrink-1 bd-highlight">
                    <%= link_to image_tag("avatar.png", class: "rounded-circle avatar"), username_path(event.creator) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %><!-- @events loop -->
    </div><!-- row -->
  </div><!-- container-fluid -->
</div><!-- event-id -->

<%= debug(params) if Rails.env.development? %>









